---
layout:

pagesidemargins:
  normal: "2rem"
  skinny: "0.5rem"

bodyfont: "Georgia, Times New Roman, Times, serif"
headerfont: "sans"
headingfont: "'Bree Serif', Georgia"

bodybackground: "#bbb"
pagebackground: "#fff"
herobackground: "#fff"
textcolor: "#000"
codecolor: "#000"
headercolor: "#070764"
heroheadercolor: "#BD1550"
herotextcolor: "#000"
linkcolor: "#4cbb17"
---

html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }

html {
    font-family: {{ page.bodyfont }};
    font-size: 16pt;
    line-height: 1.58;
}

body {
    background: #fff;
    max-width: 62rem;
    margin: 0 auto;
}

header {
    background: {{ page.heroheadercolor }};
    min-height: 4rem;
    font-family: {{ page.headerfont }};
    color: #fff;
}

header > h1 {
    float: left;
    height: 4rem;
    margin: 0;
    padding: 0.5rem;
    padding-left: 0;
    font-size: 1.4rem;
    line-height: 3rem;
    white-space: nowrap;
    color: #fff;
}

header > h1 img {
    width: 3rem;
    vertical-align: top;
    line-height: 0rem;
    margin: 0 0.5rem;
}

header > h1 .title {
    font-family: {{ page.headingfont }};
    padding: 0.25rem;
}

header > h1 .subtitle {
    padding-left: 0.5rem;
    font-size: 0.8rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: {{ page.headingfont }};
    /* font-family: {{ page.headerfont }}; */
    font-weight: normal;
    color: {{ page.headercolor }};
}

nav.mainmenu {
    text-align: right;
}

nav.mainmenu ul {
    margin: 0;
    /* display: inline-block; */
    margin-right: {{ page.pagesidemargins.normal }};
    padding-top: 1.15rem;
    padding-bottom: 1.1rem;
}

nav.mainmenu li {
    display: inline;
    vertical-align: text-top;
    margin-left: 0.5rem;
}

header a, header a:visited {
    color: inherit;
    text-decoration: none;
}

div.main-content-container {
    max-width: 60rem;
    margin: 0 {{ page.pagesidemargins.normal }};
}

main {
    margin-top: {{ page.pagesidemargins.normal }};
}

main > *:not(section), section > *:not(section) {
    max-width: 40rem;
}

footer {
    clear: both;
    margin: 0 {{ page.pagesidemargins.normal }};
    margin-top: 2rem;
    opacity: 0.5;
    border-top: solid black 1px;
    text-align: right;
}

.leftfloat, .rightfloat {
    margin-bottom: 1rem;
}

.rightfloat {
    float: right;
    clear: right;
    margin-left: 1rem;
}

.leftfloat {
    float: left;
    clear: left;
    margin-right: 1rem;
}

.center {
    text-align: center;
}

h1 a {
    text-decoration: none;
}

div.footnotes:before {
    content: '———';
    opacity: 0.5;
}

div.footnotes {
    font-size: 0.9rem;
}

/*---------------------------------------------------------------------------*/

div.frontpage_code_examples {
    max-width: 100%;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: center;
}

div.frontpage_code_examples > div {
    min-width: 24rem;
}

a, a:visited {
    color: {{ page.linkcolor }};
}

/*---------------------------------------------------------------------------*/

@media screen and (max-width: 42rem) {
    /* body { */
    /*     background: red; */
    /* } */

    .image_align_left, .image_align_right {
        float: none;
        margin-left: 0;
        margin-right: 0;
        text-align: center;
    }

    div.main-content-container {
        margin: 0 {{ page.pagesidemargins.skinny }};
    }

    footer {
        margin: 0 {{ page.pagesidemargins.skinny }};
    }

    nav.mainmenu ul {
        margin-right: {{ page.pagesidemargins.skinny }};
    }

    main {
        margin-top: {{ page.pagesidemargins.skinny }};
    }
}
